<h1>Rock! Scissors! Paper! 가위 바위 보!</h1>
<form action="/home/result" method="post">
    <button type="submit" value=1 name="player">
        <img src="../../../images/rock.jpg" width="200" height="200"/>
    </button>
    <button type="submit" value=2 name="player">
        <img src="../../../images/scissors.jpg" width="200" height="200"/>
    </button>
    <button type="submit" value=3 name="player">
        <img src="../../../images/paper.jpg" width="200" height="200"/>
    </button>
</form>
